@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: $font-primary;
  color: $blackNecrozma;
}

body {
  background-color: $yellowPikachu;
}

.app {
  &__container {
    @include flexContainer(flex, unset, center, center);
    @include boxSize(100vh, unset);
  }
}
