@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.card{
  &__container{
    @include boxSize(240px, 175px);
    @include flexContainer(flex, column, flex-start, center);
    background-color: $whiteVulpix;
    margin: 20px;
    box-shadow: 0 2px 25px 2px $yellowRaichu;
    border-radius: 5px;
  }

  &__image{
    @include boxSize(100px, 100px);

    &-wrapper{
      @include flexContainer(flex, column, unset, center);
      @include boxSize(unset, 100%);
      background-color: $grayMinccino;
      border-radius: 5px 5px 0 0;
    }

  }

  &__number{
    @include boxSize(20px, 50px);
    background-color: $grayOnix;
    text-align: center;
    font-size: 12px;
    align-self: flex-start;
  }

  &__info-wrapper{
    @include boxSize(unset, 100%);
    padding: 10px;
  }

  &__name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__types{
    @include flexContainer(flex, row, unset, unset);
    width: 100%;
    font-size: 12px;

    &-type{
      border: 1px solid $blackNecrozma;
      border-radius: 5px;
      margin-right: 5px;
      padding: 2px;
      text-transform: uppercase;
    }
  }

  &__evolution{
      font-size: 10px;
      margin: 10px;
      padding-left: 10px;
      border-left: 1px solid black;
    &-evolves{
      font-size: 16px;
      font-weight: bold;
    }
  }
}
