@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.filter {
  @include flexContainer(flex, unset, center, center);
    &-name {
      &__input {
        @include boxSize(30px, 200px);
        border-radius: 25px;
        border: 1px solid $whiteVulpix;
        box-shadow: 0 2px 25px 2px $yellowRaichu;
        text-align: center;
        text-transform: initial;
      }
  }
}
