@mixin boxSize($height, $width){
  height: $height;
  width: $width;
}

@mixin flexContainer($display, $flex-flow, $justify-content, $align-items){
  display: $display;
  flex-flow: $flex-flow;
  justify-content: $justify-content;
  align-items: $align-items;
}
